---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const notices = await getCollection('notices');
---

<Layout title="공지사항 - 제주 발도르프 킨더">
  <h1>공지사항</h1>
  <ul>
    {notices.map((n) => (
      <li>
        <a href={`/notices/${n.slug}/`}>{n.data.title}</a>
      </li>
    ))}
  </ul>
</Layout>
