---
import Social from './social.astro';
---

<footer class="bg-[#F6F5F5] py-8 px-3 sm:py-10 sm:px-6 text-sm text-custom-grey">
  <div class="max-w-[1200px] mt-xl mx-auto flex flex-col items-center gap-4">
    <div class="flex gap-4">
      <Social platform="instagram" username="jeju_waldorf_kinder" displayName="제주 발도르프 어린이집" />
      <Social platform="제주자유발도르프학교" url="https://blog.naver.com/jeju_waldorf" displayName="제주자유발도르프학교" />
      <Social platform="youtube" username="@제주발도르프" displayName="제주자유발도르프유튜브"/>
    </div>
    <div class="text-center text-custom-grey">
      <p class="text-sm my-1">© {new Date().getFullYear()} 제주발도르프어린이집</p>
      <p class="text-sm my-1">제주시 한경면 청수로 218</p>
      <p class="text-sm my-1">064.803.3050</p>
    </div>
  </div>
</footer>